.footerCarrito
{
    left: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 800px;
    background-color: #ff6b00;
    border-radius: 10%;
}
.comanda
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 9%;
    
}
.pago{
    font-weight: bold;
    color: white;
}
.precios 
{
    display: flex;
    flex-direction: column;
    padding-right: 13%;
    font-style: bold;
    color: white;
    line-height: 36px;
    
}
.enviopedido
{
    display: flex;
    width: 100%;
    padding: 13px;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 4%;
    border: solid white;
    font-weight: bold;
    font-size: 20px;
}
.botonpedido
{
    display: flex;
    justify-content: center;
    padding: 3%;
}