/*
input {
    display: none;
  }
  input:checked  ~ ul{
    display:flex;
    justify-content: flex-start;
  }
  label {
    display: flex;
    position: relative;
    flex-direction: column;
    }
*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titulo1{
  font-weight: bold;
  font-size: 20px;
}
.button__nav
{
  background-color: rgb(253, 253, 253);
  border: 0;
  width: 10%;
  height: 10%;
  font-size: 30px;
}
/*NAV*/
/*
.nav-mobile{
  background-color: rebeccapurple;
  position: absolute;
  top: 2%;
  right: 0%;
  width: fit-content;
  height: 42vh; 
  /*
  vh (viewport-height) = Altura de la ventana gráfica

  vw (viewport-width) = Anchura de la ventana gráfica 
  
  display: flex;
  justify-content: flex-end;
}
*/