.titulo2{
    font-size: 130%;
    font-weight: bold;
}
.titulo3{
    font-size: 70%;
    color:gray;
}
/*lista de iconos*/
.lista {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
  }
/*los iconos con nombre*/
.item {
    height: 140px;
    width: 120px;
    flex-shrink: 0;
    /* centrar item al contenedor, alinear elementos al centro*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    font-size: 12px;
    background-color: rgb(209, 229, 168);

  }
/*margen al final del último hijo*/
  .item:not(:last-child) {
    margin-right: 10px;
  }
/* se quitan viñetas, se da padding*/ /* */
.lista {
    list-style: none;
    padding: 20px;
    border-radius: 12px;
  }


