@import url(header.css);
@import url(main.css);
@import url(footer.css);


html{
    background: grey;
    display: flex;
    justify-content: center;
}
body{
    background: white;
    width: 400px;
}




































































/*
@media all and (min-width: 375px) and (max-width: 812px) {
  
}*/