@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url(header.css);
@import url(main.css);
@import url(footer.css);
@import url(headercarrito.css);
@import url(footercarrito.css);
::-webkit-scrollbar { /* quitar scroll en pagina*/
    display: none;
}


.capagris{
    background: grey;
    display: flex;
    justify-content: center;
}
.capablanca{
    background: white;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    padding: 1%;
}
.hojaCarrito
{
    display: none;
}





































































/*
@media all and (min-width: 375px) and (max-width: 812px) {
  
}*/