@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url(header.css);
@import url(main.css);
@import url(footer.css);



html{
    background: grey;
    display: flex;
    justify-content: center;
}
body{
    background: white;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    padding: 1%;
}





































































/*
@media all and (min-width: 375px) and (max-width: 812px) {
  
}*/